FHIR/FHIRExportQuickstart/arm_template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "fhirserver-url": {
            "type": "string"
        },
        "fhirserver-clientid": {
            "type": "string"
        },
        "fhirserver-clientSecret": {
            "type": "securestring"
        },
        "utcdate": {
            "type": "string",
            "defaultValue": "[utcNow('yyyy-MM-dd')]"
        },
        "fhirauth-tenantid": {
            "type": "string",
            "defaultValue": "[subscription().tenantId]"
        }
    },
    "variables": {
        "rgLocation": "[resourceGroup().location]",
        "resourceGroup": "[resourceGroup().name]",
        "tenantid": "[if(empty(parameters('fhirauth-tenantid')), subscription().tenantId, parameters('fhirauth-tenantid'))]",
        "utcstart": "[concat(parameters('utcdate'),'T01:00:00Z')]",
        "keyVaultName": "[concat(variables('resourceGroup'),'kv')]",
        "logicAppName": "[concat(variables('resourceGroup'),'la')]"
    },
    "resources": [
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "apiVersion": "2016-10-01",
            "name": "[concat(variables('keyVaultName'),'/fhirserver-clientid')]",
            "dependsOn": [],
            "properties": {
                "value": "[parameters('fhirserver-clientid')]",
                "attributes": {
                    "enabled": true
                }
            }
        },
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "apiVersion": "2016-10-01",
            "name": "[concat(variables('keyVaultName'),'/fhirserver-clientsecret')]",
            "dependsOn": [],
            "properties": {
                "value": "[parameters('fhirserver-clientsecret')]",
                "attributes": {
                    "enabled": true
                }
            }
        },
        {
            "type": "Microsoft.KeyVault/vaults/secrets",
            "apiVersion": "2016-10-01",
            "name": "[concat(variables('keyVaultName'),'/fhirserver-tentantid')]",
            "dependsOn": [],
            "properties": {
                "value": "[variables('tenantid')]",
                "attributes": {
                    "enabled": true
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[variables('logicAppName')]",
            "location": "[variables('rgLocation')]",
            "tags": {
            "HealthArchitestures": "FHIRToDEIDPipeline"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "startTime": "[variables('utcstart')]",
                                "timeZone": "UTC"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "GetClientId": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://vault.azure.net",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "queries": {
                                    "api-version": "2016-10-01"
                                },
                                "uri": "[concat('https://',variables('keyVaultName'),'.vault.azure.net/secrets/fhirserver-clientid')]"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "GetClientSecret": {
                            "runAfter": {
                                "GetClientId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://vault.azure.net",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "queries": {
                                    "api-version": "2016-10-01"
                                },
                                "uri": "[concat('https://',variables('keyVaultName'),'.vault.azure.net/secrets/fhirserver-clientsecret')]"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get_Token": {
                            "runAfter": {
                                "Set_FHIR_URL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@concat('grant_type=client_credentials&client_id=',body('GetClientId').value,'&client_secret=',body('GetClientSecret').value,'&resource=',variables('fhirurl'))",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "[concat('https://login.microsoftonline.com/',variables('tenantid'),'/oauth2/token')]"
                            }
                        },
                        "Set_Bearer_Token": {
                            "runAfter": {
                                "Get_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "BearerToken",
                                        "type": "string",
                                        "value": "@{concat('Bearer ',body('Get_Token').access_token)}"
                                    }
                                ]
                            }
                        },
                        "Set_FHIR_URL": {
                            "runAfter": {
                                "GetClientSecret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "fhirurl",
                                        "type": "string",
                                        "value": "[parameters('fhirserver-url')]"
                                    }
                                ]
                            }
                        },
                        "Trigger_Export": {
                            "runAfter": {
                                "Set_Bearer_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "Accept": "application/fhir+json",
                                    "Authorization": "@{variables('BearerToken')}",
                                    "Content-Type": "application/json",
                                    "Prefer": "respond-async"
                                },
                                "method": "GET",
                                "uri": "@{concat(variables('fhirurl'),'/$export')}"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }        
    ],
    "outputs": {}
}